/*[ COMPOSANT NAV--MENU ]*/
/* ------------------------------------------------------------ */

.nav--conteneur {
    display: flex;
    background-color: var(--grisPale);
    grid-column: 1/2;
    grid-row: 1/3;
    /* height: 100vh; */
}

/*[ Liste du menu principal - <ul> ]*/

nav .nav--liste {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @media (min-width: 992px) {
        height: 100%;
        margin-left: 2.5em;
    }
}


/*[ Les éléments du menu principal - <li> ]*/

.nav--liste .nav--element {
    margin: 1.5em;
}


/*[ Les liens du menu principal - <a> ]*/

.nav--element a {
    display: block;
    width: fit-content;
    font-size: 2.5em;
    font-family: 'Ethereal';
    text-transform: uppercase;
    color: var(--noir);
    transition: 0.3s;
    /* opacity: 0; */

    &:hover {
        color: var(--rougePale);
    }

    @media (min-width: 1920px) {
        font-size: 4.5em;
    }
}

/*[ Animatin des éléments du menu ]*/
.fadeMenu {
    transition: opacity 0.5s ease-in-out;
}