/*[ TYPOGRAPHIES ]*/
/* ------------------------------------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Ethereal';
    src: url('../../assets/fonts/ethereal/EtherealDemo-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ethereal Bold';
    src: url('../../assets/fonts/ethereal/EtherealDemo-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Chillen';
    src: url('../../assets/fonts/Chillen.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}