/*[ VARIABLES DU PROJET ]*/
/* ------------------------------------------------------------ */

:root {
    /*[ COULEURS ]*/
    --blanc: #fff;
    --noir: #000;
    --grisFonce: #2E2E2E;
    --grisPale: #494949;
    --rougeFonce: #CE5854;
    --rougePale: #E95C54;
}