/*[ STRUCTURE GÉNÉRALE DE LA PAGE ]*/
/* ------------------------------------------------------------ */


/*[ STRUCTURE DE LA ZONE DE CONTENU ]*/






/*[ STRUCTURE DU FOOTER ]*/
footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr 0.1fr;
    gap: 3em;
}

footer .footer--reseaux {
    display: flex;
    flex-direction: row;
}